@model PasoValores2.Models.EFactura

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.DisplayFor(model=> model.Serie)
    <p>
        @Html.DisplayFor(model=> model.Fecha)
    </p>
    <p>
        @Html.EditorFor(model=> model.Importe)
    </p>
    <input type="submit" value="submit" />
}
